.lang{
    transform: rotate(-90deg)
}
main .row img{
    width: 100%;
}
header a{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #828282;

}
header a:hover{
    color: black;
    font-weight: 700;
}
@media(min-width:992px){
    .lang{
        transform: rotate(-90deg);
    }
    
}
.aboutMe{
    background-color: #F6F6F6;;
}

