.lang{
    transform: rotate(-90deg)
}
main .row img{
    width: 100%;
}
header a{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #828282;

}
header a:hover{
    color: black;
    font-weight: 700;
}
@media(min-width:992px){
    .lang{
        transform: rotate(-90deg);
    }
    
}
.aboutMe{
    background-color: #F6F6F6;;
}
.skills .container .row .pic4 img{
    height: 88.4130859375px;
    width: 89.07325744628906px;
    left: 294.22119140625px;
    top: 1566.646484375px;
    border-radius: 0px;
}
.main .pic img{
    height: 600px;
}
.contacts .container a{
    color: white;
}
.contacts .container .row .logo img{
    width: 40px;

}
